#calendar {
    width: 100%;
}

#calendar th, #calendar td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 14.28%;
}

#calendar th {
    text-align: center;
}

#calendar td {
    padding: 5px;
    vertical-align: top;
}

#calendar td.inactive {
    background-color: #EEEEEE;
}

#calendar td.active {
    border: 3px solid dodgerblue;
}

#calendar td .calendar-header {
    margin-bottom: 15px;
}

#calendar td .list-group {
    margin-bottom: 0;
}
